@charset "utf-8";
@import "../shared/global.scss";

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .register {
        width: 50%;

        @media screen and (max-width: 1024px) {
            width: 90%;
        }
    }
}